<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
    <head>
        <title>Cancellation Request</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <style>
			img {
			    max-width: 100%;
			    height: auto;
			}
		</style>
	</head>

	<body>
		<div style="text-align:left; background-color:#fff; color:#000; font-family:'Arial','Helvetica','Verdana',sans-serif; font-size:14px; padding: 1em 0;">

			<p>Dear CP_FIRSTNAME,</p>

			<p>We have received your request to cancel your booking detailed below.</p>
			<p><strong>Class:</strong> CP_CLASS</p>
			<p><strong>Date:</strong> CP_DATE</p>
			<p><strong>Adults:</strong> CP_ADULT</p>
			<p><strong>Children:</strong> CP_CHILD</p>
			<p><strong>Price:</strong> €CP_PRICE</p>

			<p>We'll immediately ask our bank to refund the amoung on your credit card. However, you should allow them a few days until that is done.</p>

			 <p>Should you have any questions, please let us know.</p>
			 <p>Thank you,<br />
			 cooking point team<br /></p>

			<div style="text-align:center">
				<p><span style="color:orange;"><strong>Cooking Point</strong></span><br/>
				cookingpoint.es<br/>
				(+34) 910 115 154</p>
			</div>
		</div>

	</body>

</html>