<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">

<body>

<p>Dear CP_FIRSTNAME,<br/></p>

<p>Thank you for giving me the opportunity of showing you a bit of the Spanish cooking tradition.</p>

<p>You will shortly receive an email from <a style="text-decoration:none;" href="https://www.viator.com/profile/00000/tour-reviews"><span style="color:lightseagreen;font-weight:bold;">Viator</span></a> to rate your trip to Madrid (subject "Review Your Madrid Tour!"). We’d be grateful if you could <a href="https://www.viator.com/profile/00000/tour-reviews">write a review</a> about your experience at Cooking Point. Tripadvisor uses these ratings to promote activities among future visitors to Madrid.</p>

<p>Alternatively, you can use your preferred social network to rate us:</p>
<ul>
	<li>Review us on <a href="https://www.facebook.com/CookingPointSpain/">Facebook</a></li>
	<li>Review us on <a href="https://goo.gl/maps/xrLs1LPruhq">Google</a></li>
	<li>Review us on <a href="https://www.tripadvisor.com/UserReviewEdit-g187514-d4888426-Cooking_Point-Madrid.html">TripAdvisor</a></li>
</ul>

<p>We are at your disposal to solve any issue you might find when cooking our recipes at home.</p>
<p>Warm regards,<br/>
CP_COOK</p>
</div>
</body>
</html>