/node_modules
/vendor
/public/legacy/admin/vendor
/public/images/blog/*

*.map
*.log
*.sublime-workspace
storage/app/legacy_bookings.php
database/migrations/2016_11_23_104525_a.php
database/migrations/temp/2016_11_23_104525_a.php
storage/app/~$eventbatch.xlsx
public/download.csv
public/images/cooking-point-class.png
public/images/Cooking_point.mp4
public/images/home-events-2.jpg
public/images/home-events-old.jpg
public/images/home-events-3.jpg
public/images/facebook-icon-orange.png
public/sandbox

