<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
    <head>
        <title>Solicitud evento privado</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	</head>

	<body>

		<div style="text-align:left; background-color:#fff; color:#000; font-family:'Arial','Helvetica','Verdana',sans-serif; font-size:14px; padding: 1em 0;">

		<p>Solicitud de evento privado:</p>
		<p><strong>De:</strong> CP_NAME<br/>
		<strong>E-mail:</strong> CP_EMAIL</p>
		<p><strong>Texto:</strong></p>
		<div style="font-family:'Lucida Console';margin-left:2vh">
			<p>CP_COMMENTS</p>
		</div>
		 
		</div>
	</body>

</html>