@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);.type-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  padding: 0;
  overflow: auto;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  cursor: pointer;
}

.type-dropdown-content li {
  padding: 0.5rem 0.5rem;
  color: #333232;
  text-decoration: none;
  display: block;
}

.type-dropdown-input {
  position: relative;
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.ui-datepicker {
  background-color: white;
  padding: 1%;
  border: 1px solid #ddd;
  border-radius: 7px;
  z-index: 100;
  margin: auto;
  margin-bottom: 5%;
  font-size: 20px;
}

.ui-datepicker td {
  border-radius: 7px;
}

.ui-datepicker table {
  border-collapse: separate;
}

.ui-datepicker .ui-icon {
  all: unset;
  display: inline;
}

.ui-datepicker .day-last-seats {
  background-color: #e42e28;
  border: 3px solid white;
}

.ui-datepicker .day-last-seats a {
  color: white !important;
}

.ui-datepicker .day-available {
  background-color: #EF8401;
  border: 3px solid white;
}

.ui-datepicker .day-available a {
  color: white !important;
}

.ui-datepicker .ui-state-disabled {
  color: #D0D0D0;
  border: 3px solid white;
  background-color: white !important;
}

.ui-datepicker .ui-datepicker-current-day {
  border: 3px solid #ccc;
  background-color: darkgreen;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  left: unset;
  margin-left: -2px;
  heigth: unset;
  top: unset;
  margin-top: 4px;
  display: inline;
  position: static;
}

.availability-table {
  width: 100%;
}

.voucher-table {
  width: 100%;
}

.voucher-table td:nth-child(1) {
  width: 25%;
}

.modal-body .help-table {
  background-color: white;
  border-collapse: separate;
}

.modal-body .td-disabled {
  padding: 5px;
  padding-left: 10px;
  font-size: 18px;
  color: #D0D0D0;
  border: 3px solid white;
}

.modal-body .td-available {
  padding: 5px;
  padding-left: 10px;
  font-size: 18px;
  background-color: #EF8401;
  border: 3px solid white;
  color: white !important;
}

.modal-body .td-last-seats {
  padding: 5px;
  padding-left: 10px;
  font-size: 18px;
  background-color: #e42e28;
  border: 3px solid white;
  color: white !important;
}

.modal-body td:nth-child(2) {
  padding-left: 5px;
}

