<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">

<body>

<p>Dear CP_FIRSTNAME,<br/></p>

<p>Thank you for giving me the opportunity to show you a bit of Spanish cooking tradition.</p>

<p>We'd be grateful if you could share with the world your experience at Cooking Point, and review us on <span style="color:green;font-weight:bold;">TripAdvisor</span>. That site has become the world’s largest travel site, and many of our guests read past guests' reviews before booking their own class.</p>

<div style="text-align: center;"> <a href="https://www.tripadvisor.com/UserReviewEdit-g187514-d4888426-Cooking_Point-Madrid.html"><img src="APP_URL/images/tripadvisor_bubbles.png"></a></div>

<p>We remain at your disposal should you have any question or in case you need help when replicating our recipes back home.</p>

<p>Warm regards,<br/>
CP_COOK</p>




</div>
</body>
</html>