#redirects

#blog
redirect 301 /paella-fish-stock /blog/paella-fish-stock
redirect 301 /iberico-ham /blog/iberico-pig-ham
redirect 301 /paella-fish-stock /blog/paella-fish-stock
redirect 301 /protected-designation-of-origin /blog/protected-designation-of-origin
redirect 301 /spanish-potato-omelet /blog/spanish-potato-omelet
redirect 301 /how-to-use-olive-oil /blog/how-to-use-olive-oil

# bookings
redirect 301 /en/bookings https://cookingpoint.es/bookings
redirect 301 /calendar https://cookingpoint.es/bookings
redirect 301 /en/calendar https://cookingpoint.es/bookings

# location
redirect 301 /es/contacto https://cookingpoint.es/location
redirect 301 /es/donde-estamos https://cookingpoint.es/location
redirect 301 /en/where-we-are https://cookingpoint.es/location
redirect 301 /contact https://cookingpoint.es/location

# gallery
redirect 301 /en/gallery https://cookingpoint.es/gallery

# tapas
redirect 301 /activities/tapas-workshop https://cookingpoint.es/classes-spanish-tapas-madrid-spain
redirect 301 /es/actividades/curso-tapas https://cookingpoint.es/classes-spanish-tapas-madrid-spain

# paella
redirect 301 /new/classes-paella-cooking-madrid https://cookingpoint.es/classes-paella-cooking-madrid-spain

# school
redirect 301 /school-madrid-spain https://cookingpoint.es/location

# faq
redirect 301 /en/frequent-questions https://cookingpoint.es/faq
redirect 301 /frequent-questions https://cookingpoint.es/faq

# events
redirect 301 /group-events https://cookingpoint.es/private-cooking-events-madrid-spain
redirect 301 /eventos-empresa-cursos-cocina https://cookingpoint.es/eventos-privados-madrid
redirect 301 /eventos-privados-madrid https://cookingpoint.es/actividades-team-building-empresas-madrid

# home
RedirectMatch 301 ^/(es|en)$ https://cookingpoint.es
redirect 301 /wine-tasting-madrid-spain https://cookingpoint.es

RedirectMatch 301 ^/(activities/|author|bookings-|category/|classes/|classes$|curso|escuela|galeria|hola-mundo|home|images/panorama|lorem|masterchef|other-events|partner-services|portfolio|reserva|sponsors|where) https://cookingpoint.es

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Remove www from URL
    RewriteCond %{HTTP_HOST} ^www.cookingpoint.es$ [NC]
    RewriteRule ^(.*)$ https://cookingpoint.es/$1 [R=301,L]

    # redirect to https://
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>

# One month for most static assets
<filesMatch ".(css|jpg|jpeg|png|gif|js|ico|svg|webp)$">
Header set Cache-Control "max-age=2628000, public"
</filesMatch>

