// cooking point custom style sheet

//
// navigation bar font and size
//

$web-font-path: "https://fonts.googleapis.com/css?family=Ubuntu:400,700" !default;
@import url($web-font-path);

.nav {

	padding-left: 0px;
  	@media screen and (min-width: $screen-sm-min) {
		padding-left: 25px;
		}
  	z-index: 1;
	
	a {

		font-family: $font-family-cooking-point;
		font-size: 22px;
	}	
}

.decorated {
  font-family: $font-family-cooking-point;
  font-weight: 500;
  text-decoration: none;
  line-height: 1.1; 
}

.header1 {
  @extend .decorated;
  font-size: 30px;
  color: $brand-red;
} 

.header2 {
  @extend .decorated;
  font-size: 22px;
  color: $brand-primary;
}

.header3 {
  @extend .decorated;
  color: #959595;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 500;
}

.header4 {
  @extend .decorated;
  font-size: 18px;
}

.header5 {
  @extend .decorated;
  font-style: italic;
  font-size: 18px;
}

.menu-header {
  @extend .header1;
  text-align: right;
}


h1, .call-to-action {
	color: $brand-red;

	.no-link a:link {
		color: $brand-red;
	}

	.what {
		text-align: right;
		font-weight: bold;
	}
}

.vertical-center {
		position: relative;
		top: 60px;
		transform: translateY(-50%);
}


.no-gutter > [class*='col-'] {
	    padding-right:0;
	    padding-left:0	
}

.home-column {
	overflow: hidden;
	padding-bottom: 15px;
}
.home-logo {
	margin-top: 15px;
}

.bold {
  font-weight: bold;
}

.align-top {
  vertical-align: top;
}

.mandatory {
  color: $brand-red
}

.day-unavailable {
  color: gray !important
}

.h4 {
  font-family: $font-family-cooking-point;
}

.dropcap { 
	float: left; 
	line-height: 40px; 
	padding-top: 4px; 
	padding-right: 8px; 
	padding-left: 3px; 
 }

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.primary-color {
	color: $brand-primary;
}

.home-headline {
  text-align: center;
	font-size: 50px;
  font-weight: bold;
  	@media screen and (min-width: $screen-sm-min) {
		padding-left: 38px;
		}
	color: $brand-red;
 // top: 0;
 // left: 0;
 // position: absolute;
}

.home-header {
  
}
.btn {
	font-family: $font-family-cooking-point;
}

.sidebar-title {
	color: #959595;
	letter-spacing: 1px;
	font-size: 12px;
	font-weight: 700;
	padding-top: 1.2em;
	padding-bottom: 1.2em;
}

//
// page slideshows
//
.cp-slideshow div {
  background-color: white;
  width: 100%;
  display: inline-block;
  display: none;
}
.cp-slideshow img {
  width: 100%;
  height: auto;
}

.container {
  @media (max-width: $screen-sm-max) {
    width: auto;
      }
}

.availability-table {
  width: 100%;
  td:nth-child(1) {
    line-height: 3em;
  }
}

.voucher-table {
  width: 100%;
  td:nth-child(1) {
    width: 25%;
  }
}

//
// global tags
//

p {
	text-align: justify;
}

input, select, textarea {
  width: 100%;
  font-family: arial;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  padding: 8px 10px;
}


.modal-body {
  .help-table {
    background-color: white;
    border-collapse: separate;
  }
  .td-disabled {
    padding: 5px;
    padding-left: 10px;
    font-size: 18px;    
    color: $navbar-default-link-disabled-color;
    border: 3px solid white;
  }
  .td-available {
    padding: 5px;
    padding-left: 10px;
    font-size: 18px;    
    background-color: $brand-primary;
    border: 3px solid white;
    color: white !important;
  }
  .td-last-seats {
    padding: 5px;
    padding-left: 10px;
    font-size: 18px;    
    background-color: $brand-red;
    border: 3px solid white;
    color: white !important;
  }
  td:nth-child(2) {
    padding-left: 5px;
  }
}

// datepickers

@mixin browser($browsers: Mozilla) {
  @each $browser in $browsers {
    html[data-browser*="#{$browser}"] & {
      @content;
    }
  }
}

.online {
  .ui-datepicker {
    background-color: white;
    padding: 1%;
    border: 1px solid #ddd;
    z-index: 100;
    margin: auto;
    margin-bottom: 5%;
    font-size: 20px;    
    table {
      border-collapse: separate;
    }
    
    .ui-icon {
      all: unset;
      @include browser(".NET") {
        display: inline;
      }
    }

    .day-last-seats {
      background-color: $brand-red;
      border: 3px solid $brand-red;
      a { color: white !important; }
    }
    
    .day-available {
      background-color: $brand-primary;
      border: 3px solid $brand-primary;
      a { color: white !important; }
    }

    .ui-state-disabled {
      color: $navbar-default-link-disabled-color;
      border: 3px solid white;

    }

    .ui-datepicker-current-day {
      border: 3px solid #ccc;
    }

    .ui-datepicker-prev span, .ui-datepicker-next span {
      left: unset;
      margin-left: -2px;
      heigth: unset;
      top: unset;
      margin-top: 4px;
      @include browser(".NET") {
        display: inline;
        position: static;
      }
    }
  }
}

.admin {
  .ui-datepicker {
  	background-color: white;
  	padding: 1%;
  	border: 1px solid #ddd;
  	z-index: 100;
  	margin: auto;
  	margin-bottom: 5%;
    font-size: 18px;    


  	.ui-datepicker-current-day {
  		border: 2px solid black;
  	}

  	.ui-state-disabled {
  		color: #959595;
  	}

  	.ui-state-hover { 
  		background-color: $navbar-default-link-hover-bg; 
  	}
  	
  	.ui-icon {
  		all: unset;
  	}

  	.ui-datepicker-prev span, .ui-datepicker-next span {
  		left: unset;
  		margin-left: unset;
  		heigth: unset;
  		top: unset;
  		margin-top: 4px;
  	}

    .ui-datepicker-next span {
      right: 0px;
    }
  }
}

.admin-eventdatepicker {

  .ui-datepicker {
    background-color: white;
    padding: 1%;
    border: 1px solid #ddd;
    z-index: 100;
    margin: auto;
    margin-bottom: 5%;
    
    table {
      font-size: inherit;
    }

  /*  .ui-datepicker-current-day {
      background-color: $navbar-default-link-hover-bg;
    }
  */
    .ui-state-disabled {
      color: #959595;
    }

  /*  .ui-state-hover { 
      background-color: $navbar-default-link-hover-bg; 
    }
  */  
    .ui-icon {
      all: unset;
    }

    .ui-datepicker-prev span, .ui-datepicker-next span {
      left: unset;
      margin-left: unset;
      heigth: unset;
      top: unset;
      margin-top: 4px;
    }
  }
}


@media only screen and (max-width: 400px) {
  .ui-datepicker {
      font-size: 16px;
      }
}

// spinner 

/**
 * (C)Leanest CSS spinner ever
 */

@keyframes spin {
  to { transform: rotate(1turn); }
}

.loading-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal-background;
  background-color: $modal-backdrop-bg;
  opacity: $modal-backdrop-opacity;
}

.progress-box {
    top: 50%;
    left: 50%;
    width:5em;
    height:5em;
    margin-top: -4.5em; /*set to a negative number 1/2 of your height*/
    margin-left: -4.5em; /*set to a negative number 1/2 of your width*/
    background-color: $modal-backdrop-bg;
    opacity: $modal-backdrop-opacity;
    position:fixed;
}
.progress {
  position: relative;
  display: inline-block;
  width: 5em;
  height: 5em;
  margin: 0 .5em;
  font-size: 12px;
  text-indent: 999em;
  overflow: hidden;
  background-color: $modal-backdrop-bg;
  animation: spin 1s infinite steps(8);
}

.small.progress {
  font-size: 6px;
}

.large.progress {
  font-size: 24px;
}

.progress:before,
.progress:after,
.progress > div:before,
.progress > div:after {
  content: '';
  position: absolute;
  top: 0;
  left: 2.25em; /* (container width - part width)/2  */
  width: .5em;
  height: 1.5em;
  border-radius: .2em;
  background: #eee;

  box-shadow: 0 3.5em #eee; /* container height - part height */
  box-shadow: 0 3.5em yellow; /* container height - part height */
  transform-origin: 50% 2.5em; /* container height / 2 */
}

.progress:before {
  background: #555;
}

.progress:after {
  transform: rotate(-45deg);
  background: #777;
}

.progress > div:before {
  transform: rotate(-90deg);
  background: #999;
}

.progress > div:after {
  transform: rotate(-135deg);
  background: #bbb;
}
