//
// header stuff
//


.home-headline {
  font-family: $font-alter;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding-top: 2rem;
  color:  white;
  position: absolute;
  top: 0;
  text-shadow: 2px 2px black, -0.1rem -0.1rem 1rem black, 0.1rem 0.1rem 1rem $brand-primary;
  @include media-breakpoint-up(md) {
    position: initial;
    top: unset;
    text-shadow: unset;
    color: darkred;
  }

}


.section-banner {
  width: 100%;
  height: 100vw / 3 * 2;
  position: relative;
  @include media-breakpoint-up(md) { height: 100vw / 1440 * 360}
  @include media-breakpoint-up(xl) { height: 360px; width: 1440px; max-width: 100%;}
  img {
    width: 100%;
  }
}



  #sssssssssvideo-home {
    width: 100vw;
    max-width: 100%;
    height: 100vw * 100 / 720;
    max-height: 100%;
  }

