//
// cooking point app related
//
@import "variables";


.type-dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	width: 100%;
	padding: 0;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	cursor: pointer;

	li {
		padding: 0.5rem 0.5rem;
		color: $brand-text;
		text-decoration: none;
		display: block;
	}
}

.type-dropdown-input {
	position: relative;
	display: inline-block;
	width: 100%;
	cursor: pointer;
}


.ui-datepicker {
	background-color: white;
	padding: 1%;
	border: 1px solid #ddd;
	border-radius: 7px;
	z-index: 100;
	margin: auto;
	margin-bottom: 5%;
	font-size: 20px;

	td {
		border-radius: 7px;

	}    
	table {
		border-collapse: separate;
	}

	.ui-icon {
		all: unset;
		display: inline;
	}

	.day-last-seats {
		background-color: $brand-red;
		border: 3px solid white;
		a { color: white !important; }
	}

	.day-available {
		background-color: $brand-orange;
		border: 3px solid white;
		a { color: white !important; }
	}

	.ui-state-disabled {
		color: $brand-grey;
		border: 3px solid white;
		background-color: white !important;
	}

	.ui-datepicker-current-day {
		border: 3px solid #ccc;
		background-color: darkgreen;
	}

	.ui-datepicker-prev span, .ui-datepicker-next span {
		left: unset;
		margin-left: -2px;
		heigth: unset;
		top: unset;
		margin-top: 4px;
		display: inline;
		position: static;
	}
}

.availability-table {
  width: 20rem;
  text-align: left;
  td:nth-child(1) {
    line-height: 3em;
  }
  td:nth-child(2) {
	width: 18rem;
	overflow: hidden;
  }
}



.voucher-table {
  width: 100%;
  td:nth-child(1) {
    width: 25%;
  }
}

.modal-body {
  .help-table {
    background-color: white;
    border-collapse: separate;
  }
  .td-disabled {
    padding: 5px;
    padding-left: 10px;
    font-size: 18px;    
    color: $brand-grey;
    border: 3px solid white;
  }
  .td-available {
    padding: 5px;
    padding-left: 10px;
    font-size: 18px;    
    background-color: $brand-orange;
    border: 3px solid white;
    color: white !important;
  }
  .td-last-seats {
    padding: 5px;
    padding-left: 10px;
    font-size: 18px;    
    background-color: $brand-red;
    border: 3px solid white;
    color: white !important;
  }
  td:nth-child(2) {
    padding-left: 5px;
  }
}
