<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
    <head>
        <title>Update Payment Method</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

<body>
<p>Hola CP_COOK,<br/>

Por favor, actualiza en la <a href="APP_URL/admin">herramienta</a> la forma de pago de las reservas de la clase de CP_TYPE de hoy (CP_DATE) que están en estado PAY-ON-ARRIVAL. Por favor, no esperes a que se te olvide.<br/>

Recuerda, tienes que poner el campo <strong>Status</strong> a PAID y el campo <strong>Forma de pago</strong> a lo que corresponda. No es necesario introducir la fecha de pago.<br/>
<br/>
Gracias,<br/>
Eduardo</p>

 <div style="text-align:center;">
 <a href="APP_URL/admin">Admin</a> 
 </div>

</body>
</html>