<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
    <head>
        <title>Cancellation Request</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

<body>

<p><strong>Persons:</strong> CP_ADULT+CP_CHILD</p>
<p><strong>Name:</strong> CP_NAME</p>
<p><strong>Activity:</strong> CP_CLASS</p>
<p><strong>Date:</strong> CP_DATE</p>
<p><strong>Price:</strong> €CP_PRICE</p>


 <div style="text-align:center;">
 <a href="APP_URL/admin">Admin</a> 
 </div>

</body>
</html>