<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
    <head>
        <title>Your Booking</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	</head>

<body>
<div style="background-color:#fff; color:#000; font-family:arial; font-size:14px;">

<p>Dear CP_FIRSTNAME,<br/></p>

<p>Thank you for giving me the opportunity to show you a bit of Spanish cooking tradition.</p>

<p>We'd be grateful if you share with the world your experience with Cooking Point. We'd love it if you review us on TripAdvisor, as this is the world’s largest travel site, and our guests often read past guests' reviews before booking their own class.</p>

<p>We remain at your disposal should you have any question or in case you need help when replicating our recipes back home.</p>

<p>Warm regards,<br/>
CP_COOK</p>

<a href="https://www.tripadvisor.com/UserReviewEdit-g187514-d4888426-Cooking_Point-Madrid.html"><img src="/images/tripadvisor_bubbles.png"></a>


</div>
</body>
</html>