<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
    <head>
        <title>Your Booking</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

<body>

<p><strong>Reg.:</strong> CP_REGISTERED</p>
<p><strong>Source:</strong> CP_SOURCE</p>
<p><strong>Name:</strong> CP_NAME</p>
<p><strong>Email:</strong> CP_EMAIL</p>
<p><strong>Phone:</strong> CP_PHONE</p>
<p><strong>Activity:</strong> CP_CLASS</p>
<p><strong>Date:</strong> CP_DATE</p>
<p><strong>Adults:</strong> CP_ADULT</p>
<p><strong>Children:</strong> CP_CHILD</p>
<p><strong>Price:</strong> €CP_PRICE</p>
<p><strong>Food Restrictions:</strong><br />CP_FOODREQUIREMENTS</p>
<p><strong>Comments:</strong><br />CP_COMMENTS</p>
<br />
<p><strong>Status:</strong> CP_STATUS<br /></p>

 <div style="text-align:center;">
 <a href="APP_URL/admin">Admin</a> 
 </div>

</body>
</html>