<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
    <head>
        <title>3rd Party Payment</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

<body>

<p>Payment received:<br/></p>
<p><strong>From:</strong> CP_CLASS</p>
<p><strong>Subject:</strong> CP_NAME</p>
<p><strong>Booking:</strong> CP_DATE</p>
<p><strong>Amount:</strong> €CP_PRICE</p>


 <div style="text-align:center;">
 <a href="APP_URL/admin">Admin</a> 
 </div>

</body>
</html>